@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 12px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%))
        no-repeat;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    background: white;
    width: 800px;
    border-radius: 1.8em;
    box-shadow: 0px 40px 100px -60px;
    align-items: center;
    overflow: hidden;
}

input[type="radio"] {
    display: none;
}

img {
    /* position: relative; */
    /* left: -40px; */
    height: 50%;
    padding: 30px 0;
    margin-left: -110px;
    /* max-height: 30px; */
    transform: scale(0.8);
    /* overflow: hidden; */
}

.box-img {
    display: block;
    position: absolute;
    height: 12rem;
    margin-left: -98px;
    margin-top: -297px;
}

main > div {
    background: url("./images/bg-pattern-desktop.svg") no-repeat;
    background-position: -480px -240px;
    background-size: 220%;
    height: 100%;
}
.wrapper {
    max-width: 80%;
    width: 100%;
    margin-right: 90px;
    margin-left: 40px;
    max-height: 200px;
    /* border: solid; */
    /* margin-bottom: 80px; */

    /* margin-bottom: 30px; */
    /* padding: 50px 0; */
}

h1 {
    /* display: block; */
    font-size: 2.2em;
    text-align: left;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    margin-top: -60px;
    margin-bottom: 15px;
}

label {
    color: hsl(237, 12%, 33%);
    display: flex;
    width: 100%;
    /* height: 32px; */
    padding: 8px 0px;
    cursor: pointer;
    user-select: none;
    align-items: center;
    /* border-bottom: 1px solid hsl(240, 5%, 91%); */
}

/* .title {
} */

label div:first-child {
    width: 100%;
    /* line-height: 24px; */
    /* height: 32px; */
    /* margin-top: 16px; */
    font-size: 1em;
    /* border: solid; */
}

.chevron {
    margin-right: 15px;
    margin-top: 3px;
    transform: rotate(180deg);
}

.chevron:before,
.chevron:after {
    content: "";
    /* width: 15px; */
    display: block;
    /* margin-top: 18px; */
    transition: 0.3s;
}

.chevron:after {
    transform: rotate(180deg);
    /* margin-top: 15px; */
    content: url("./images/icon-arrow-down.svg");
}

.content {
    box-sizing: border-box;
    color: hsl(240, 6%, 50%);
    font-size: 0.9em;
    max-height: 0;
    width: 93%;
    overflow: hidden;
    transition: max-height, 0.5s;
    line-height: 1.5em;
    /* padding: 8px 0px; */
}

.wrap {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding: 8px 0px;
}

input:checked ~ .content {
    max-height: 5em;
    /* margin: 10px 0px;     */
    transition: max-height, 0.3s;
}

input:checked ~ label .chevron:before {
    transform: rotate(180deg);
}

input:checked ~ label .chevron:after {
    transform: rotate(0deg);
}

input:checked ~ label > .title {
    font-weight: 700;
}

.title:hover {
    color: hsl(14, 88%, 65%);
    transition: 0.3s;
}

footer {
    margin-top: 50px;
}

@media screen and (max-width: 900px) {
    main {
        flex-direction: column;
        width: 325px;
        height: 500px;
        justify-content: center;
        overflow: visible;
        font-size: 13px;
    }
    .wrapper {
        max-width: 100%;
        margin: 0px;
    }

    .wrap {
        margin: 0px 20px;
        margin-bottom: -1px;
    }

    img {
        src: url("./images/illustration-woman-online-mobile.svg");
        height: 230%;
        left: 120px;
        bottom: 135px;
        position: relative;
        padding: 0;
    }

    .img-container {
        width: 100%;
        background-size: 78%;
        height: 100px;
        position: relative;
        top: -100px;
        background: url("./images/bg-pattern-mobile.svg") no-repeat;
        background-position: 40px -5px;
    }

    .box-img {
        transform: scale(0.5);
        position: relative;
        top: -25px;
        left: 80px;
    }

    h1 {
        text-align: center;
        margin-top: -70px;
    }

    .content {
        padding-right: 10px;
    }

    footer {
        display: none;
    }
}
